---
---

@import "{{ site.theme }}";

code {
    background-color: #191919 // Add background to inline code samples.
}

.wrapper {
    max-width: 60rem; // Increase max width so that code examples fit.
}

#header nav {
    max-width: 60rem;
}

section {
    max-width: 100%; // Match .wrapper width.
}

.nav_button {
    float: left;
    margin-right: 6px;
}
